<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="job-listing">
    <p><span class="bold-v4">Name:</span> <span th:text="${employer.name}"></span></p>
    <p><span class="bold-v4">Location:</span> <span th:text="${employer.location}"></span></p>
    <p> <span class="bold-v4">Open Positions</span>
        <ul>
            <li th:each="job : ${employer.jobs}">
                <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
            </li>
        </ul>
    </p>
</div>

</body>
</html>