<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p class="bold-v4">
                    Job Id:
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
                </p>
                <p>
                    Name:
                    <span class="bold-v3" th:text="${job.name}"></span>
                </p>
<!--                <p th:text="${'Name: ' + job.name}"></p>-->
                <p>
                    Employer:
                    <a class="bold-v3"  th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
                </p>

                <p>
                    Skills:
<!--                    <ul th:each="skill : ${job.skills}">-->
<!--                        <li>-->
<!--                            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>-->
<!--                        </li>-->
<!--                    </ul>-->

                    <span class="bold-v3"  th:if="${#lists.isEmpty(job.skills)}">None specified</span>  <!-- Value for empty skill list -->
                    <span class="bold-v3"  th:unless="${#lists.isEmpty(job.skills)}" th:each="skill, skillIndex: ${job.skills}">
                    <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                    <span th:if="${skillIndex.index < job.skills.size() - 1}">, </span>
                    </span>

                </p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>