<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Job: ' + job.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="job-listing">
    <p><span class="bold-v4">ID:</span> <span th:text="${job.id}"></span></p>
    <p><span class="bold-v4">Name:</span> <span th:text="${job.name}"></span></p>
    <p>
    <p> <span class="bold-v4">Employer</span> <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
    </p>
<!--    <p> Skills:-->
<!--    <ul>-->
<!--        <li th:each="skill : ${job.skills}">-->
<!--            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    </p>-->

    <p> <span class="bold-v4">Skills: </span>
        <span th:if="${#lists.isEmpty(job.skills)}">None specified</span>  <!-- Value for empty skill list -->
        <span th:unless="${#lists.isEmpty(job.skills)}" th:each="skill, skillIndex: ${job.skills}">
        <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
        <span th:if="${skillIndex.index < job.skills.size() - 1}">, </span>
        </span>
    </p>

</div>

</body>
</html>